.woocommerce-lost-password .woocommerce {
  .lost_reset_password {
    @include box();
    max-width: 500px;
    margin: 5rem auto;

    .form-row {
      width: 100%;
    }

    .button {
      background-color: $primary-color;
      color: $white;
    }
  }
}
