.woocommerce {
  .woocommerce-order-overview,
  table.shop_table.woocommerce-table--order-details,
  .woocommerce-customer-details {
    @include box();
  }

  .woocommerce-column__title {
    margin: 1rem 0;
  }

  .woocommerce-order-overview {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem !important;

    @include media-breakpoint-down(md) {
      & {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        padding: 1rem;
      }

      li {
        border-right: none !important;
        text-align: center;
        margin-right: 0 !important;
        padding-right: 0 !important;
      }
    }

    & ~ p {
      display: none;
    }
  }
}
