.wrapperFooter {
  border-top: 1px solid $primary-color;
  margin-top: 3rem;
  .footer {
    padding-top: 2rem;

    .btn {
      width: fit-content;
      margin: 0 auto 4rem auto;
      background-color: transparent;
      color: $white;
    }

    .copy {
      color: $c1;
    }
  }
}

.home .wrapperFooter {
  margin-top: 0;
}
