@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

$font-display: "Aldrich", sans-serif;
$font-text: "Montserrat", sans-serif;

$black: #020202;
$white: #fff;
$green: #55b434;
$blue: #389fff;

$c1: #7d7d7d;

$border-radius: 24px;

$primary-color: #9e00ff;
