@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$font-display: "Aldrich", sans-serif;
$font-text: "Montserrat", sans-serif;

$black: #020202;
$white: #fff;

$border-radius: 24px;

$primary-color: #9e00ff;
